@import '../../style/variables.module.scss';


.footer{
    padding: 2rem 0;
    .footer__flex{
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid $someTextColor;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        .Link{
            a{
                display: flex;
                .icons{
                    color: #808dad;
                    font-size: 1.7rem;
                }
            }
        }


        .myName{
            P{
                font-size: 1.2rem;
                color: $alterTextColor;
            }
        }

    }
    .footer__copyright{
        text-align: center;
        color: $alterTextColor;
    }
}